.header {
    display: flex;
    /* чтобы не накладывалось при уменьшении размера */
    flex-wrap: wrap;
    /* вертикальное выравнивание */
    align-items: flex-end;
    /* выравнивание по краям контейнера элементы */
    justify-content: space-between;
    /* box-sizing: border-box; */
    padding: 0 48px;
    max-width: 1184px;
    width: 100%;
}

@media screen and (max-width: 1124px) {
    .header {
        /* box-sizing: border-box; */
        padding: 0 48px;
        max-width: 928px;
        width: 100%;
        max-width: 928px;
    }

}

@media screen and (max-width:984px) {
    .header {
        /* box-sizing: border-box; */
        padding: 0 24px;
        max-width: 720px;
        width: 100%;
    }

}

@media screen and (max-width: 568px) {
    .header {
        /* box-sizing: border-box; */
        padding: 0 16px;
        max-width: 288px;
        width: 100%;
    }

}