.content__section {
  max-width: 1184px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1124px) {
  .content__section {
    max-width: 1024px;
  }
}

@media screen and (max-width: 984px) {
  .content__section {
    max-width: 768px;
  }
}

@media screen and (max-width: 568px) {
  .content__section {
    max-width: 320px;
  }
}
