.footer {
  margin: 0 auto;
  width: calc(100% - 2*48px);
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

@media screen and (max-width: 1124px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 984px) {
  .footer {
    max-width: 720px;
    width: calc(100% - 2*24px);
  }
}

@media screen and (max-width: 568px) {
  .footer {
    max-width: 320px;
    flex-direction: column;
    padding: 0;
    width: 100%;
    align-items: flex-start;
  }
}
